.actions {
  opacity: 0;
}
tr:hover .actions {
  opacity: 1;
}

tbody td a {
  color: rgb(100, 99, 99);
  font-size: 22px;

  &:hover {
    color: #000;
  }
}

.header {
  font-size: 30px;
  text-align: center;
}
